[submodule "ios"]
	path = ios
	url = https://github.com/devicehive/devicehive-ios.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/devicehive/devicehive-cpp.git
[submodule "android"]
	path = android
	url = https://github.com/devicehive/devicehive-android.git
[submodule "admin-console"]
	path = admin-console
	url = https://github.com/devicehive/devicehive-admin-console.git
[submodule "javascript"]
	path = javascript
	url = https://github.com/devicehive/devicehive-javascript.git
[submodule "uc"]
	path = uc
	url = https://github.com/devicehive/devicehive-uc.git
[submodule "python"]
	path = python
	url = https://github.com/devicehive/devicehive-python.git
[submodule "arduino"]
	path = arduino
	url = https://github.com/devicehive/devicehive-arduino.git
[submodule "j2me"]
	path = j2me
	url = https://github.com/devicehive/devicehive-j2me.git
[submodule "net"]
	path = net
	url = https://github.com/devicehive/devicehive-.net.git
[submodule "net-mf"]
	path = net-mf
	url = https://github.com/devicehive/devicehive-.net-mf.git
[submodule "java"]
	path = java
	url = https://github.com/devicehive/devicehive-java.git
